.weather-card-container {

    background-color: #e4e4e4;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 40px;
    color: #aaa;
    box-shadow: 0px 5px 80px 0px;
    margin: 0 20px;

    > * {
        color: black;
    }

    > .weather-card-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;

        > .weather-card-header-title {
            font-weight: lighter;
            margin-bottom: 0;

            > b {
                font-weight: normal;
            }
        }

        > .weather-card-header-subtitle {
            font-size: 0.9em;
            font-weight: 300;
            margin-top: 5px;
            color: #A2A6AB;
        }
    }

    > .weather-card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > h1 {
            margin: 0;
            font-size: 3.5em;
            font-family: 'Prompt', sans-serif;
        }

        > p {
            margin-top: 0;
            font-weight: lighter;
        }

        > .weather-card-details {
            margin-top: 20px;
        }
    }

}

@media only screen and (max-width: 400px) {
    .weather-card-container {
        padding: 20px;
        margin: 10px;
    }
}
